/* Navigation bar*/
.navbar-brand img{
    width:11vw;
    height:11vw;
    margin-left: 15px;
}

.nav-item {
  float: right;
  display: block;
  color: #dac4d0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.4vw;
  text-shadow:0 0 6px #dac4d0;
}

.nav-item a:hover {
  background:#533984;
  transition:0.8s;
  text-transform:capitalize;
  font-size: 1.5vw;
  color:#ff4ff3;
}

.navbar a.active {
  background-color: #2196F3;
  color: white;
}
  
.navbar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 1.4vw;
    border: none;
  }
  

.navbar .search-container button:hover {
  background: #ff4ff3;
  }

.search-container ::placeholder{
    color: #dac4d0;
    padding-left: 20px;
}
.search-container input{
    margin-left:35px;
    background-color: #533984;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width:14vw;
    height:3.1vw;
}
.navbar .search-container button{
    height: 3.1vw;
    width: 3vw;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #533984;
    color:#dac4d0;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 1.4vw;
    border: none;
    cursor: pointer;
    position:relative;
    }

    
.dropdown-menu {
    background-color: #533984;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown a{
  color:#dac4d0;
}

@media (max-width: 800px) {
  .search-container {
    justify-content: center;
  }
}